


@mixin flex-row {
    display: flex;
    align-items: center;
}


.display-none {
    display: none !important;
}

.dark-switcher {
    left: calc(100% - 4px) !important;
    transform: translate(-100%, -50%) !important;
}


body {
    background-color: #F4F6FA;
    transition: all 0.2s;
    font-family: "Rubik", sans-serif;
    color: #313E51;
}

.body-dark {
    background-color: #313E51 !important;
    transition: all 0.2s !important;
    color: #fff;
}

.list--dark {
    background-color: #3B4D66 !important;
}

.dark-p {
    color: #ABC1E1 !important;
}

.wrong-answer--label {
    border: 2px solid #EE5454 !important;

    .answer-number {
        background-color: #EE5454 !important;
        color: #fff !important;
    }
}

.correct-answer--label {
    border: 2px solid #26D782 !important;
    
    .answer-number {
        background-color: #26D782 !important;
        color: #fff !important;
    }
}




.main {

    .header {
    // background-color: rgb(88, 56, 56);
    display: flex;
    justify-content: end;
    padding: 16px 24px;
    box-sizing: border-box;

    .theme-switcher {
        @include flex-row();
        gap: 8px;
        
        .heme-switcher--icon {
            width: 8px;
            height: 8px;
            cursor: pointer;
        }

        .switcher-icon {
            width: 32px;
            height: 20px;
            background-color: #A729F5;
            border-radius: 10px;
            cursor: pointer;
            position: relative;

            .switcher-circle {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 4px;
                transition: all 0.2s;
            }
        }
    }
    
    }

    .section--welcom {

        padding: 32px 24px;
        box-sizing: border-box;

        hgroup {
            margin-bottom: 40px;

            h1 {
                font-size: 40px;
                font-weight: 300;
                line-height: 40px;
                margin-bottom: 16px;
                span {
                    font-weight: 500;
                }
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: #626C7F;
                font-style: italic;
            }
        }

        .quiz-topics-list {

            li {
                @include flex-row();
                gap: 16px;
                background-color: #fff;
                box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
                padding: 12px;
                box-sizing: border-box;
                border-radius: 12px;
                margin-bottom: 12px;
                cursor: pointer;

                font-size: 18px;
                font-weight: 500;

                &:last-child {
                    margin: 0px;
                }


                img {
                    background-color: #626C7F;
                    width: 40px;
                    height: 40px;
                    padding: 6px;
                    box-sizing: border-box;
                    border-radius: 5px;
                }

                .icon--html {
                    background-color: #FFF1E9;
                }

                .icon--css {
                    background-color: #E0FDEF;
                }

                .icon--js {
                    background-color: #EBF0FF;
                }

                .icon--accessibility {
                    background-color: #F6E7FF;
                }
            }
        }
    }

    .section-quiz {
        padding: 32px 24px;
        box-sizing: border-box;

        .quiz-header {

            .question-number {
                font-size: 14px;
                font-weight: 400;
                color: #626C7F;
                font-style: italic;
                margin-bottom: 12px;
            }

            .question {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 24px;
            }
        }

        .form--answers {
            margin-top: 40px;
            
            .answers-list {

                .answers-list--li {
                    margin-bottom: 12px;
                    border-radius: 12px;
                    height: 64px;
                    position: relative;

                    .answers-list--input:checked + .answers-list--label {
                        border: 2px solid #A729F5;

                        .answer-number {
                            background-color: #A729F5;
                            color: #FFF;
                        }
                    }

                    .answers-list--label {
                        background-color: #fff;
                        box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        padding: 12px;
                        border-radius: 12px;
                        box-sizing: border-box;
                        @include flex-row();
                        justify-content: space-between;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all 0.2s;
                        border: 2px solid #fff;
                        box-sizing: border-box;

                        font-size: 18px;
                        font-weight: 500;

                        p {
                            @include flex-row();
                            gap: 16px;
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .answer-number {
                            background-color: #F4F6FA;
                            width: 40px;
                            height: 40px;
                            font-size: 18px;
                            @include flex-row();
                            justify-content: center;
                            color: #626C7F;
                            border-radius: 5px;
                        }

                        .div--correct-wrong--icons {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                    }

                }

            }

            .form-btn {
                display: block;
                width: 100%;
                height: 56px;
                background-color: #A729F5;
                border-radius: 12px;
                box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
                color: #fff;
                font-size: 18px;
                font-weight: 500;

                border: none;
                outline: none;
                cursor: pointer;
            }

            .select-answer {
                color: #EE5454;
                @include flex-row();
                justify-content: center;
                gap: 8px;
                margin-top: 12px;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

